<h1>Ways to contact me</h1>

<ul aria-label="Ways to contact me">
    <li><a href="mailto:lol@lol.com">Email: lol@lol.com</a></li>
    <li><a href="sms:12345678">SMS: 12345678</a></li>
    <li><a href="tel:12345678">Phone: 12345678</a></li>
</ul>