<h1>Complete your order</h1>

<form>
    <label>Enter your address: (required)</label>
    <input type="text" />

        <legend>Choose a shipping method:</legend>
        <input type="radio"/>
        <label>Overnight</label>
        <input type="radio" />
        <label>Two day</label>
        <input type="radio" />
        <label>Ground</label>

    <input type="submit" name="submit" value="Submit order">
</form>