<h1>Ways to contact me</h1>

<dl aria-label="Ways to contact me">
    <dt>Email:</dt>
    <dd><a href="mailto:lol@lol.com">lol@lol.com</a></dd>
    <dt>SMS:</dt>
    <dd><a href="sms:12345678">SMS: 12345678</a></dd>
    <dt>Phone:</dt>
    <dd><a href="tel:12345678">Phone: 12345678</a></dd>
</dl>