<h1>Complete your order</h1>

<form>
    <label for="address">Enter your address: (required)</label>
    <input id="address" name="addresstext" />
    
    <fieldset>
        <legend>Choose a shipping method:</legend>
        <input id="overnight" type="radio" name="shipping" value="overnight" />
        <label for="overnight">Overnight</label>
        <input id="twoday" type="radio" name="shipping" value="twoday" />
        <label for="twoday">Two day</label>
        <input id="ground" type="radio" name="shipping" value="ground" />
        <label for="ground">Ground</label>
    </fieldset>
    
    <input type="submit" name="submit" value="Submit order">
</form>