<h1>Shelly's daughters</h1>

<table>
    <caption>Shelly's daughters</caption>

    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Birthday</td>
    </tr>

    <tr>
        <td>Jackie</td>
        <td>5</td>
        <td>April 5</td>
    </tr>

    <tr>
        <td>Beth</td>
        <td>8</td>
        <td>January 14</td>
    </tr>

</table>