<div id="tabs">
    <ul class="tabsList">
        <li><a href="#ipa" id="tab-ipa">India Pale Ale (IPA)</a></li>
        <li><a href="#gueuze" id="tab-gueuze">Gueuze</a></li>
        <li><a href="#imperial-stout" id="tab-imperial-stout">Imperial Stout</a></li>
    </ul>
    <div class="tabPanel">
        <h2 id="ipa">India Pale Ale (IPA)</h2>
        <p>India Pale Ale (IPA)India Pale Ale (IPA)India Pale Ale (IPA)</p>
    </div>
    <div class="tabPanel">
        <h2 id="gueuze">Gueuze</h2>
        <p>GueuzeGueuzeGueuzeGueuze</p>
    </div>
    <div class="tabPanel">
        <h2 id="imperial-stout">Imperial Stout</h2>
        <p>Imperial StoutImperial StoutImperial Stout</p>
    </div>
</div>