<h1>Items you should pack for going to Africa</h1>

<ul aria-label="Items you should pack for going to Africa">
    <li>Money</li>
    <li>Toothbrush</li>
    <li>Passport</li>
    <li>Karsk</li>
</ul>